@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pixelify+Sans:wght@400..700&display=swap');

body
{
    height: 100vh;;
    background-color: rgb(80, 100, 80);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "JetBrains Mono", monospace;
    font-weight: 800;
    overflow-x: hidden;
}

#contentWrapper
{
    padding: 1vw;
    color: white;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5vh;    
}

#wordGuesserBox
{
    background-color: rgb(100, 130, 100);
    padding: 2vh;
    padding-top: 4vh;
    border-radius: 3vh;
    width: 55vh;
    display: flex;
    flex-direction: column;
    row-gap: 0.3vh;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
}
.row
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 0.3vh;
}

.letterBox
{
    width: 9vh;
    height: 9vh;
    border: 0.25vh solid rgb(80, 100, 80);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vh;
}

#alphabetUse
{
    position: relative;
    margin-top: 2vh;
    width: 58vh;
    display: flex;
    flex-direction: column;
    row-gap: 0.4vh;
    justify-content: center;
    align-items: center;
}

.alphabetTile
{
    width: 5vh;
    height: 7vh;
    display: flex;
    justify-content: center;
    color: black;
    align-items: center;
    font-size: 2.3vh;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0.75vh;
}

.alphabetTileRow
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 0.4vh;
}

#enter
{
    width: 8vh;
    position: absolute;
    right: 1.9vh;
    bottom: 0.4vh;
    font-size: 2vh;
}

#backSpace
{
    font-size: 2vh;
    width: 8vh;
    left: 1.9vh;
    bottom: 0.4vh;
    position: absolute;
}

#iconImg
{
    width: 5vh;
    height: 5vh;
    margin-bottom: 2vh;
    margin-top: 14vh;
}

#textBox
{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 2vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 8vh;
    width: 32vh;
    padding: 3vh;
    font-size: 4vh;
    border-radius: 2vh;
    opacity: 0;
}

#yellow
{
    color: yellow;
}

#settingsBox
{
    position: absolute;
    top: 5vh;
    right: 5vh;
}


#upperSliderBox
{
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
}

#sliderBox
{
    display: flex;
    
    justify-content: center;
    align-items: center;
}

.colorSlider
{
    width: 30vh;
    height: 3vh;
    background: #a8a7a7;
    outline: none;
}

.colorSlider::-moz-range-thumb
{
    outline: none;
    border: 0vh;
    width: 4vh;
    height: 4vh; 
    border-radius: 10%; 
    cursor: pointer; 
    border: 0.3vh solid #a8a7a7;
}

.colorSlider::-webkit-slider-thumb
{
    outline: none;
    border: 0vh;
    width: 4vh;
    height: 4vh; 
    border-radius: 10%; 
    cursor: pointer; 
    border: 0.3vh solid #a8a7a7;            
}

@media only screen and (max-width: 545px) 
{
  /* properties for a screen with size 500px */
    body
    {
        height: 100vh;
    }

    #contentWrapper
    {
        padding: 1vw;
        height: 100vh;
        margin-bottom: 3vh;    
    }

    #wordGuesserBox
    {
        padding: 1vh;
        padding-top: 3vh;
        border-radius: 1vh;
        width: 42vh;
        row-gap: 0.15vh;
        margin-bottom: 4vh;
        
    }
    .row
    {
        column-gap: 0.15vh;
    }

    .letterBox
    {
        width: 7vh;
        height: 7vh;
        font-size: 2.5vh;
    }

    #alphabetUse
    {
        margin-top: 2vh;
        width: 38vh;
        row-gap: 0.4vh;
    }

    .alphabetTile
    {
        width: 3.8vh;
        height: 5.5vh;
        font-size: 2.2vh;
        border-radius: 0.4vh;
    }

    .alphabetTileRow
    {
        column-gap: 0.4vh;
    }

    #enter
    {
        width: 6vh;
        right: -1.9vh;
        bottom: 0.4vh;
        font-size: 1.5vh;
    }

    #backSpace
    {
        width: 6vh;
        left: -1.9vh;
        bottom: 0.4vh;
        font-size: 1.5vh;
    }

    #iconImg
    {
        width: 5vh;
        height: 5vh;
        margin-bottom: 2vh;
        margin-top: 2vh;
    }

    #textBox
    {
        column-gap: 2vh;
        height: 5vh;
        width: 18vh;
        padding: 3vh;
        font-size: 2vh;
        border-radius: 2vh;
        opacity: 0;
    }

    #settingsBox
    {
        position: absolute;
        top: 2vh;
        right: 3vh;
    }


    #upperSliderBox
    {
        row-gap: 2vh;
    }

    .colorSlider
    {
        width: 20vh;
        height: 2vh;
    }

    .colorSlider::-moz-range-thumb
    {
        border: 0vh;
        width: 2.5vh;
        height: 2.5vh; 
        border-radius: 0.3vh;  
        border: 0.2vh solid #a8a7a7;
    }

    .colorSlider::-webkit-slider-thumb
    {
        border: 0vh;
        width: 2.5vh;
        height: 2.5vh; 
        border-radius: 0.3vh; 
        border: 0.2vh solid #a8a7a7;            
    }
}